body{
  background-color: rgba(180, 110, 245, 0.899);
    
}
.heading{
    background-color: rgba(137, 43, 226, 0.899);
    font-size: 30px;
    color: white;
    width: 100%;
    margin-top: 0;
    box-shadow: 5px 5px 5px rgb(80, 78, 78);
}
.note{
    font-size: 20px;
    color: rgb(32, 3, 58);
}
.object{
    font-weight: bold;
}
.start{
    background-color: blueviolet;
    color: white;
    border-width: 3px;
    border-color: black;
    border-style: solid;
}
#input{
    width: 20%;
    height: 30px;
    color: black;
}
.status{
    background-color: rgb(186, 43, 226);
    color: white;
    border-width: 3px;
    border-color: black;
    border-style: solid;
}
.object1{
    background-color: rgb(186, 43, 226);
    color: white;
    border-width: 3px;
    border-color: black;
    border-style: solid;
}
canvas{
    
    border: 3px solid white;
    border-radius: 10px;
    margin-top: 100px;
    box-shadow: 10px 10px 10px rgb(87, 86, 86);
    
}